body{background-color: #020e23; margin-bottom: 3.5%; margin-left: 3.5%; margin-right: 3.5%;}
h1{color: #4f7ef6; font-weight: bolder;} 
h2{color: #4f7ef6; font-family: Arial, Helvetica;  font-weight: bolder} 
h3{color: #4f9bf8; font-family: Arial, Helvetica;  font-weight: bolder}
h4{color: #4f9bf8; font-family: Arial, Helvetica;  font-weight: border}
h5{color: #1c70c6; font-family: Arial, Helvetica;  font-family: border}
p{color: white; font-family: Arial, Helvetica; font-weight: bolder}
a{color: #4f7ef6;}
.coloro {color: #50b8fb;}
#Granimgen {text-align: center;}
#Pie{background-color: #020e23;}
#genera{color: #50b8fb;}
#armado{display: flex;}
#navbarSupportedContent {flex-grow: 0.5;}
.Componentes{color: #50b8fb;}
.Titulo1{color: #4f7ef6;}
.Titulo2{color: #4f9bf8;}
.colorw{color: white;}
.nav-linkrecor{color: black; text-decoration: underline;}
.accordion-button{color: #50b8fb;}
.accordion-body{background-color: #020e23; color: #50b8fb;}
label{color: #50b8fb;}
table{border-collapse:collapse;}
table, tr{border: 1px solid #4f7ef6;}
table, td{border: 1px solid #4f7ef6;}